/* #DAFFEF #D0FFD6 #D5E2BC #A6979C #D3C0D2 #746973*/

.aboutMeContainer{
    background-color: #D5E2BC;
}

.aboutMeContainer > h1{
    text-align: center;
    padding-top: 2%;
    margin-top: 0px;
}



.aboutMeImg{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 1%;
}



.revolvingImage {
    float: right;
    width: 70%;
    margin-left: 1%;
    background-color: #DAFFEF;
    padding: 1%;
}