/* #DAFFEF #D0FFD6 #D5E2BC #A6979C #D3C0D2 #746973*/

.homePicHolder {
    background-color: #DAFFEF;
    text-align: center;
    padding-bottom: 2%;
}

.homePicHolder > h1 {
    margin-top: 0px;
    padding-top: 2%;
    margin-bottom: 0px;
    padding-bottom: 1%;
}

.homePicHolder > h2{
    margin-top: 0px;
}

.homePicHolder > h3{
    display: block;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.homePicHolder > p{
    display: block;
    padding-left: 1%;
    padding-right: 1%;
}



.profilePic {
    height: 60%;
    width: 40%;
    margin-top: 0%;
    margin-bottom: 2%;
    /* box-shadow: 5px 5px 5px 1px rgba(166, 151, 156, .9); */
    border: 2px solid #746973;
}

@media only screen and (max-width: 450px){
    .homePicHolder > h3 {
      font-size: 12px;
    }
    .homePicHolder > p{
        font-size: 10px;
    }
    .homePicHolder > .profilePic{
      width: 80%;  
    }
  } 