header > nav > .link {
  margin-left: 2%;
  margin-right: 2%;
  background-color: #DAFFEF;
  color: #746973;
  padding: 1%;
  box-shadow: 2px 2px 2px 1px rgba(166, 151, 156, .9);
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: #D0FFD6;
  padding: 2%;
  border-bottom: #746973 1px solid;
}

@media only screen and (max-width: 400px){
  header > nav > .link {
    margin-right: 1%;
    margin-left: 1%;
  }
} 

/*Media Query for less than 425: Make it a dropdown*/

/* #DAFFEF #D0FFD6 #D5E2BC #A6979C #D3C0D2 #746973*/